body{
    background-color: #f3f3f3;
}
.navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* 半透明黑色渐变 */
}
/* 定义背景视频的样式 */
.video-background {
    position: fixed; /* 固定背景视频 */
    top: 0;
    left: 0;
    width: 100%; /* 宽度覆盖整个屏幕 */
    height: 100%; /* 高度覆盖整个屏幕 */
    z-index: -1; /* 确保视频在内容下方 */
    object-fit: cover; /* 确保视频覆盖整个屏幕 */
}

/* 定义视频容器的样式 */
.video-container {
    position: relative; /* 相对定位 */
    width: 100%; /* 宽度覆盖整个屏幕 */
    height: 100%; /* 高度覆盖整个屏幕 */
    overflow: hidden; /* 防止内容溢出 */
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 半透明黑色覆盖层 */
    z-index: -1; /* 确保覆盖层在内容下方 */
}
.publish-question-title{
    color: white;
}