<!DOCTYPE html>
<html>

<head>
    <!-- 加一行测试注释 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.4.6.min.css') }}">

<!--    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/bootstrap.4.6.min.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/init.css') }}">

    <title>{% block title %}{% endblock %}</title>
<!--    详情页面自己的css,js都放在header当中-->
    {% block head %}{% endblock %}
<!--    标题自定义-->
</head>
    <!-- 添加视频背景 -->
    <div class="video-container">
        <video class="video-background" preload="auto" autoplay muted loop id="background-video">
            <source src="{{ url_for('static', filename='videos/background.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    {#    <!>#}
<script>
    const video = document.getElementById('background-video');
    video.playbackRate = 0.8;
</script>
    <div class="video-overlay"></div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="/">问答</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if request.endpoint == 'qa.index' %}active{% endif %}">
                        <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if request.endpoint == 'qa.publish_question' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('qa.publish_question')}}">发布问答</a>
                    </li>
                    <li class="nav-item ml-2">
                        <form class="form-inline my-2 my-lg-0" method="GET" action="{{url_for('qa.search')}}">
                            <input class="form-control mr-sm-2" type="search" placeholder="关键字" aria-label="Search" name="q">
                            <button class="btn btn-outline-success my-2 my-sm-0 bg-primary text-white" type="submit">搜索</button>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {% if user %}
                        <li class="nav-item {% if request.endpoint == 'profile.user' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('profile.user', user_id=user.id) }}">{{user.username}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('auth.logout')}}">退出登录</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('auth.login')}}">登录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('auth.register')}}">注册</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        <!-- 怎么回事 -->
        {% block body%}{% endblock %}
    </div>
</body>

</html>
